<%= form_with model: @user do |form| %>

    <div class="mb-3">
      <%= form.label :first_name,{ class: "form-head"} %><br>
      <%= form.text_field :first_name,{ class: "form-field", placeholder: "First Name" } %><br>
      <% @user.errors.full_messages_for(:first_name).each do |message| %>
        <div class="red"><%= message %></div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :last_name,{ class: "form-head"} %><br>
      <%= form.text_field :last_name,{ class: "form-field", placeholder: "Last Name" } %><br>
      <% @user.errors.full_messages_for(:last_name).each do |message| %>
        <div class="red"><%= message %></div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :mobile_number,{ class: "form-head"} %><br>
      <%= form.text_field :mobile_number,{ class: "form-field", placeholder: "Mobile Number" } %><br>
      <% @user.errors.full_messages_for(:mobile_number).each do |message| %>
        <div class="red"><%= message %></div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :date_of_birth,{ class: "form-head"} %><br>
      <%= form.date_field :date_of_birth,{ class: "form-field", placeholder: "Date of Birth" } %><br>
      <% @user.errors.full_messages_for(:date_of_birth).each do |message| %>
        <div class="red"><%= message %></div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :gender,{ class: "form-head"} %><br>
      <%= form.select :gender, ['Male', 'Female'],{ class: "form-field", placeholder: "Gender" }%><br/>
      <% @user.errors.full_messages_for(:last_name).each do |message| %>
        <div class="red"><%= message %></div>
      <% end %>
    </div>
  
    <div class="field">
      <%= form.label :email,{ class: "form-head"} %><br />
      <%= form.email_field :email, { class: "form-field", placeholder: "Enter your email" } %>
    </div>
  
    <div class="field">
      <%= form.label :password,{ class: "form-head"} %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= form.password_field :password, { class: "form-field", placeholder: "Password" } %>
    </div>
  
    <div class="field">
      <%= form.label :password_confirmation,{ class: "form-head"} %><br />
      <%= form.password_field :password_confirmation, { class: "form-field", placeholder: "Confirm password" } %>
    </div><br/>

    <p class="form-paragraph">By signing up, you agree to our Terms , Privacy Policy and Cookies Policy.</p>
  
    <div class="actions">
      <%= form.submit "Sign up",class:"css-button-arrow--black" %>
    </div>
  <% end %>